@layout("/common/_container.html"){
<form id="changePwdForm" action="#" class="form-horizontal">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="form-horizontal"  id="changePasswd">
                <div class="row" style="margin-top: 15px;">
                    <div class="col-sm-8">
                        <div class="form-group has-feedback">
                            <label class="col-sm-3 control-label">*原密码</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="oldPwd" name="oldPwd" placeholder="输入原密码" type="type" onfocus="this.type='password'">
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-sm-3 control-label">*密码</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="newPwd" name="newPwd" placeholder="输入密码" type="type" onfocus="this.type='password'">
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-sm-3 control-label">*确认密码</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="rePwd" name="rePwd" placeholder="确认密码" type="type" onfocus="this.type='password'">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-danger-xb" onclick="closePage();" style="width: 120px;height: 34px;color: #FFFFFF;margin-right: 20px;">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" onclick="changePwd();" style="width: 120px;height: 34px;color: #FFFFFF;">
                            提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="${ctxPath}/static/modular/shop/account/updatePassword.js"></script>
@}
