@layout("/common/_container.html"){

<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>业务日志</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">

                    <div class="row row-lg" style="height:730px">
                        <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="${ctxPath}/log/log_ifram" frameborder="0" data-id="" seamless></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/log/log.js"></script>
@}
