@layout("/common/_container.html"){
<form id="changePwdForm" action="#" class="form-horizontal">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <p > 您正在使用默认密码登录系统，请修改。</p>
            <div class="form-horizontal"  id="changePasswd">
                <div class="row" style="margin-top: 15px;">

                    <div class="col-sm-8">
                        <#input type="password" id="newPwd" name="*密码" placeholder="输入密码"/>
                        <#input type="password" id="rePwd" name="*确认密码" placeholder="确认密码"/>
                    </div>
                </div>

                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-primary" onclick="changePwd();" style="width: 120px;height: 34px;color: #FFFFFF;">
                            提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="${ctxPath}/static/modular/shop/account/updatedefaultPassword.js"></script>
@}
